.main-section{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding:var(--Pad16);
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--Pad16);
    background-color: var(--Blanco);
}

didieros-link-component{
    position: absolute;
}

@media (max-width: 900px) {
    .main-section{
        padding: 64px var(--Pad16) var(--Pad16) var(--Pad16);
    }
    .main-section > *{
        width: 100%;
    }
    didieros-link-component{
        top: var(--Pad16);
    }
}