.customization-container{
    gap: var(--Pad16);
    justify-content: start;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
    .customization-container > *{
        width: 100%;
    }
    .first-container{
        align-items: start;
    }
    .display-container{
        min-height: 100px;
        flex-wrap: nowrap;
    }
        .item-display{
            flex-grow: 1;
            width: 40%;
        }

        .player-info{
            justify-content: start;
            align-items: start;
            gap: var(--Pad8);
            width: 30%;
        }
            .banner-player{
                width: 70%;
                height: 40px;
                background-color: var(--Negro);
                overflow: hidden;
                border-radius: var(--Pad8);
            }
            .banner-bg{
                background-color:hsla(0,0%,100%,1);
                background-image:
                radial-gradient(at 40% 20%, hsla(14,100%,74%,1) 0px, transparent 50%),
                radial-gradient(at 80% 0%, hsla(175,100%,56%,1) 0px, transparent 50%),
                radial-gradient(at 0% 50%, hsla(341,100%,93%,1) 0px, transparent 50%);
            }
            .player-info > h2{
                text-transform: capitalize;
                font-size: var(--Pad32);
            }
            .basic-info{
                width: 100%;
                height: auto;
                overflow: hidden;
                justify-content: start;
                gap: var(--Pad8);
                flex-wrap: wrap;
            }
                .level{
                    background-color: var(--Naranja);
                    border: 1px solid var(--Naranja2);
                }
                .label-stats{
                    font-size: var(--Pad8);
                }
                    .label-stats > svg{
                        width: 12px;
                        height: auto;
                        aspect-ratio: 1/1;
                    }
            .cards-container{
                gap: var(--Pad8);
                flex-wrap: wrap;
                justify-content: stretch;
                align-items: stretch;
            }


        .player-stats{

        }




    .btns-container{
        justify-content: start;
        gap: var(--Pad8);
    }