.customization-container{
    gap: var(--Pad16);
    justify-content: start;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
    .customization-container > *{
        width: 100%;
    }
    .first-container{
        align-items: start;
    }
    .display-container{
        min-height: 100px;
            align-items: start;
        flex-wrap: nowrap;
    }
        .item-display{
            flex-grow: 1;
            width: 40%;
        }

        .player-info{
            justify-content: start;
            align-items: start;
            gap: var(--Pad8);
        }
            .banner-player{
                width: 70%;
                height: 40px;
                background-color: var(--Negro);
                overflow: hidden;
                border-radius: var(--Pad8);
            }
            .player-info > h3{
                text-transform: capitalize;
            }
            .basic-info{
                width: 100%;
                height: auto;
                overflow: hidden;
                justify-content: start;
                gap: var(--Pad8);
            }
                .labels{
                    width: auto;
                    padding: 2px 8px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 12px;
                    pointer-events: none;
                }
                .level{
                    background-color: var(--Naranja);
                    border: 1px solid var(--Naranja2);
                }




    .btns-container{
        justify-content: start;
        gap: var(--Pad8);
    }