.type-container{
    gap: var(--Pad16);
    overflow: visible;
    position: relative;
}
    config-component{
        width: fit-content;
        position: absolute;
        gap: var(--Pad8);
        right: -45px;
        top: 0;
    }
    .header-type-container{
        width: 100%;
        justify-content: start;
        color: var(--Negro);
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .footer-type-container{
        width: 100%;
        gap: var(--Pad16);
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: stretch;
    }
        .footer-type-container > *{
            flex-grow: 1;
            flex-shrink: 2;
            width: 18%;
        }

@media (max-width: 900px) {
    .type-container{
        gap: var(--Pad16);
        overflow: visible;
    }
    config-component{
        width: fit-content;
        position: absolute;
        gap: var(--Pad8);
        right: 0;
        top: -45px;
    }
            .footer-type-container > *{
                flex-grow: 1;
                flex-shrink: 1;
                width: 15%;
            }
}

@media (max-width: 800px) {
            .footer-type-container > *{
                flex-grow: 1;
                flex-shrink: 1;
                width: 25%;
            }
}
@media (max-width: 600px) {
            .footer-type-container > *{
                flex-grow: 1;
                flex-shrink: 1;
                width: 35%;
            }
}