.card{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--Blanco);
    border-radius: var(--Pad8);
}
    .card > div{
        width: 100%;
        padding: 5px;
        overflow: hidden;
    }
    .header-card{
        border-width: 0px 0px 1px 0px;
        border-color: var(--BorderColor);
    }
    .footer-card{
        font-size: 12px;
    }