.information-container{
    height: auto;
    min-height: 300px;
    flex-wrap: wrap;
    gap: var(--Pad16);
    color: var(--Negro);
}
    .information-container > *{
        width: 100%;
    }
    .header-information{
        height: auto;
        justify-content: space-between;
    }
        .labels{
            gap: var(--Pad8);
        }
    .main-information{
        height: 50%;
        min-height: 50%;
        flex-grow: 1;
        justify-content: start;
        gap: var(--Pad16);
    }
        .main-information > *{
            width: 100%;
        }
        .main-information > h2{
            font-size: var(--Pad32);
            font-weight: 500;
            line-height: 1cap;
        }
        .info-places{
            gap: var(--Pad8);
            justify-content: start;
        }

        .colors{
            flex-wrap: nowrap;
            gap: var(--Pad8);
            
        }
            .item{
                width: 20%;
                height: 10px;
                flex-grow: 1;
                border-radius: var(--Pad16);
                overflow: hidden;
                border-width: 1px;
            }

    .footer-information{
        height: auto;
        border-width: 1px 0 0 0;
        padding-top: var(--Pad16);
        font-size: 12px;
    }

@media (max-width: 900px) {
    .header-information{
        height: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--Pad16);
    }
}   